[Desktop Entry]
Name=Kitty
Comment=Fast GPU-based terminal
Exec=/home/syaikhu/.nix-profile/bin/nixgl /home/syaikhu/.nix-profile/bin/kitty
Icon=kitty
Terminal=false
Type=Application
Categories=Utility;TerminalEmulator;
