[Desktop Entry]
Name=VS Code
Comment=Code Editing. Redefined.
Exec=/home/syaikhu/.nix-profile/bin/code --no-sandbox %F
Icon=/home/syaikhu/.nix-profile/lib/vscode/resources/app/resources/linux/code.png
StartupWMClass=code
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
